* {
    font-family: helvetica;
    font-weight: 400;
}

body {
    background-color: rgb(37, 37, 37);
}

#titulo {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, #computador {
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;
    max-height: 400px;
    background-image : url('img/kauan.webp');
    
}

#jogador {
    background-color: #ff7675;
}

#computador {
    background-color: #74bfff;
}

#versus {
    text-align: center;
    font-size: 40px;
    width: 70px;
    color: white;
}

#jogador-nome, #computador-nome {
    margin: 0;
    padding: 0;
}

#jogador-nome {
    text-align: left;
}

#computador-nome {
    text-align: right;
}

#jogador-pontos, #computador-pontos {
    position: absolute;
    top: 8px;
    font-size: 30px;
}

#jogador-pontos {
    right: 20px;
}

ul#jogador-escolha, ul#computador-escolha {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#jogador-escolha li, ul#computador-escolha li {
    display: inline;
}

ul#jogador-escolha li a, ul#computador-escolha li a {
    opacity: .3;
}

ul#jogador-escolha li a:hover, ul#jogador-escolha li a.selecionado, ul#computador-escolha li a.selecionado {
    opacity: 1;
    padding-top: 200px;
}

ul#jogador-escolha li a img, ul#computador-escolha li a img {
    max-width: 80px;
}

#mensagens {
    background-color: #b2cec3;
    border-radius: 5px;
    font-size: 30px;
    padding: 20px;
    width: 22rem;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    color: rgb(29, 29, 29);
}